In [1]:
# dodawanie
3 + 7

10

In [2]:
# odejmowanie
2 - 7

-5

In [5]:
#mnożenie
4 * 6

24

In [6]:
#dzielenie
9 / 3

3.0

In [8]:
#potęgowanie
8 ** 2

64

In [9]:
#zapisujemy wartość do zmiennej
x = 10

In [10]:
print(x)

10

In [11]:
rocznik = 1991

In [12]:
print(rocznik)

1991

In [15]:
teraz = 2017

In [16]:
print(teraz)

2017

In [17]:
ile_lat = teraz - rocznik

In [18]:
print(ile_lat)

26

In [20]:
dziad = ile_lat + 25

In [21]:
print(dziad)

51

In [22]:
type(dziad)

int

In [25]:
zarobki_biednego_studenta = 5.50

In [26]:
zarobki_biednego_studenta

5.5

In [27]:
type(zarobki_biednego_studenta)

float

In [29]:
werdykt = 'To są marne zarobki'

In [30]:
type(werdykt)

str

In [31]:
werdykt + werdykt

'To są marne zarobkiTo są marne zarobki'

In [33]:
werdykt * 3

'To są marne zarobkiTo są marne zarobkiTo są marne zarobki'

In [40]:
print('Urodziłem się w', str(rocznik), sep=" DINOZAUR ")

Urodziłem się w DINOZAUR 1991

In [43]:
print('Urodziłem się w', 
      str(rocznik), 
      'i mam lat', 
      str(ile_lat), 
      'ale wciąż zarabiam na ręke', 
      str(zarobki_biednego_studenta), sep=' ')

Urodziłem się w 1991 i mam lat 26 ale wciąż zarabiam na ręke 5.5

In [44]:
wiek2 = 'Mam {} lat'.format(ile_lat)

In [45]:
wiek2

'Mam 26 lat'

In [48]:
monolog = 'Niby jestem stary. \
Urodziłem się w {} i mam {} lat, \
ale wciąż zarabiam {} na godzinę'.format(rocznik,
                                         ile_lat,
                                         zarobki_biednego_studenta)

In [49]:
print(monolog)

Niby jestem stary. Urodziłem się w 1991 i mam 26 lat, ale wciąż zarabiam 5.5 na godzinę

In [50]:
numer = '300'

In [51]:
type(numer)

str

In [52]:
numer_poprawny = int(numer)

In [53]:
print(numer_poprawny)

300

In [54]:
x = 'tekst'

In [56]:
pkt = '30.875'

In [58]:
float(pkt)

30.875